body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    /* added */
    position: relative;
    height: 100vh;
    background: url('../images/about.webp') no-repeat center center;
    background-size: cover;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: left;
    /* text-decoration: underline; */
    color: white; /* Set heading color to white */
    margin-left: 20px;
    
   
}

.contact-us p {
    text-align: left;
    color: white; /* Set paragraph color to white */
    margin-left: 20px;
    max-width: 600px; /* Adjust the width as needed */
    font-size: 14px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact-us {
    /* background-color: #333; Change background to dark grey */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    color: white; /* Set text color to white */
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #f8e2e2;
    margin: 20px 10px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow: 2px 2px 4px gray;
    min-height: 350px;
}

.card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 20px auto;
}

.card h4 {
    margin-top: 0;
}

.card p {
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: -0.5px; /* Adjust this value as needed */
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-right: 16px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}

.contact-us > h1, 
.contact-us > p {
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
}
.contact-us > p{
    font-size: 20px;
}