body {
    font-family: "Bree Serif", serif;
    /* background-color: #aea9a9a8; */
    /* background-color: #F0F8FF; */
    margin: 0;
    padding: 0;
    background: url('../images/appointment.jpg') no-repeat center center;
    position: relative;
            height: 100vh;
            background-size: cover;
}

.main-table h2 {
    text-decoration: underline;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.appointment {
    /* background-color: (255, 255, 255, 0.8); */
    /* background-color: #333; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
    backdrop-filter: blur(10px);
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #333;
    text-align: left;

}

th {
    /* background-color: (255, 255, 255, 0.1); */
    /* background-color: #333; */
    backdrop-filter: blur(10px);
    font-weight: bold;
}

td a {
    color: greenyellow;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

.appointment p {
    text-align: center;
    color: #333;
}

.main-table{
    margin: 50px;
}