{% extends "layout.html" %}
{% block stylehead %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/book_appointment.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

{% endblock stylehead %}
{% block title %} Book Appointment{% endblock %}

{% block content %}
<div class="book_appointment">
    <h2>Book an Appointment</h2>
  {% if messages %}
    {% for message in messages %}
      <p style="color: red;">{{ message }}</p>
    {% endfor %}
  {% endif %}
  <form method="POST" action="{% url 'book_appointment' property.id %}">
    {% csrf_token %}
    <label for="appointment_date_and_time">Appointment Date and Time:</label>
    <input type="datetime-local" id="appointment_date_and_time" name="appointment_date_and_time" required><br><br>

    <input type="hidden" id="visiting_user" name="visiting_user" value="{{ request.user.id }}">
    <input type="hidden" id="propID" name="propID" value="{{ property.id }}">
    <input type="hidden" id="userID" name="userID" value="{{ property.user.id }}">

    <button type="submit">Book Appointment</button>
  </form>
</div>

  {% endblock content %}