{% extends "layout.html" %}
{% comment %} this should have the main nav bar with dashboard selected {% endcomment %}
{% comment %} it should have another navbar after main navbar (i am naming it as dashboard navbar) which will have: My Properties, Post an add, appointments {% endcomment %}
{% comment %} if any option from dashboard navbar is selected, it will redirect to another page but that page must have above 2 navbars. {% endcomment %}



{% block head %}
    <title>{% block title %}Dashboard{% endblock %}</title>
    {% endblock %}
    {% block stylehead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    {% block my_ads %}

    {% endblock my_ads %}
    {% block post_ads %}

    {% endblock post_ads %}
    {% block appointment %}

    {% endblock appointment %}
    {% endblock stylehead %}
    {% block dashboard %}
   
    <nav class="dashboard-navbar">
        <div class="dashboard-menu">
          <div class="dashboard-menu-links">
            <ul>
            <!-- {% if user.is_authenticated %} -->
            <!-- <p>Welcome, {{ user.first_name }} {{ user.last_name }}!</p>
            {% endif %} -->
            <li><a href="{% url 'user_properties' %}">My Ads</a></li>
            <li><a href="{%url 'view_appointments' %}">Appointment</a></li>
            <li><a href="{% url 'submit_property' %}">Post a new Ad</a></li>
        </ul>
          </div>
        </div>
      </nav>
      {% endblock %}
      {% block content %}      
<section id="dash" class="dash-text-center">
    <div class="dash-bg-image">
             <div class="dashboarddescription">
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.first_name }} {{ user.last_name }}!</p>
                {% endif %}
            </div>
    </div>
    <p class="more-desc">
        Achieve more with effective property management through Propfolio.
    </p>
    </section>
    {% endblock %}
