{% extends "home.html" %}
{% block propertylist %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/property_list.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% endblock propertylist %}
{% block propcard %}
<div>
    {% comment %} dropdown for filter {% endcomment %}
    <div class="dropdown-cities-town">
      <div class="dropdown-container">
        <div class="dropdown">
    
    <form  method="post">
      {% csrf_token %}
      <h2>Search properties in Pakistan</h2>
      <label for="city">City:</label>
      <select id="city" name="city">
          <option value="">Any city</option>
          {% for city in cities %}
          <option value="{{ city.cityID }}" {% if city.cityID|stringformat:"s" == applied_filters.city|stringformat:"s" %}selected{% endif %}>
            {{ city.city_name }}
        </option>
          {% endfor %}
      </select>

      <label for="prop_type">Property Type:</label>
      <select name="prop_type" id="prop_type">
        <option value="">Any</option>
        <option value="Plot" {% if applied_filters.prop_type == "Plot" %}selected{% endif %}>Plot</option>
        <option value="House" {% if applied_filters.prop_type == "House" %}selected{% endif %}>House</option>
        <option value="Appartment" {% if applied_filters.prop_type == "Appartment" %}selected{% endif %}>Appartment</option>
      </select>

      <label for="sale_type">Sale Type:</label>
      <select name="sale_type" id="sale_type">
        <option value="">Any</option>
        <option value="rent" {% if applied_filters.sale_type == "rent" %}selected{% endif %}>Rent</option>
        <option value="sale" {% if applied_filters.sale_type == "sale" %}selected{% endif %}>Sale</option>
      </select>

      <button type="submit" class='btn btn-success'>Filter</button>
  </form>
    
  </div>
  </div>
  </div>

    {% comment %} property cards {% endcomment %}
    {% if properties %}
    <div class="container mt-4"> <!-- Added margin-top to the container -->
    <div class="row">
        {% for property in properties %}
        <div class="col-md-3 mb-4"> <!-- Each property takes 1/4th of the row -->
            <div class="card custom-card"> 
                {% if property.images.all %}
                <img src="{{ property.images.all.0.images.url }}" alt="Property Image" class="card-img-top fixed-image">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ property.address }}</h5>
                  <p class="card-text">
                    <p><strong>Price:</strong> {{ property.price }}</p>
                    <p><strong>City:</strong> {{ property.city.city_name }}</p>
                    <p><strong>Town:</strong> {{ property.town.town_name }}</p>
                    <p><strong>No of Bedrooms: {{property.number_of_bedrooms}}</strong></p>
                    <p><strong>No of Bathrooms: {{property.number_of_bathrooms}}</strong></p>
                  </p>
                  <a href="{% url 'property_detail' property.id %}" class="btn btn-primary">Show Description</a>
                  <!-- {% if user == property.user %}
                  <div class="btn-container mt-3">
                  <a href="{% url 'edit_property' property.id %}" class="btn btn-warning mt-3">Edit</a>
                  <a href="{% url 'prop_delete' property.id %}" class="btn btn-danger mt-3">Delete</a></div>
                  {% endif %} -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    {% else %}
    <center><p>No properties to display</p></center>
{% endif %}
</div>
<div class="showmore">
    <a href="{% url 'list_all_properties'%}" class='btn btn-primary'>Show More</a>
</div>
{% endblock propcard %}
